<p>operas-bas works!</p>

<form>
  <div class="col-6">
    <div class="mb-3">
      <div class="form-group pt-4">
        <label for="num1">Número 1:</label>
        <input type="number" class="form-control" [(ngModel)]="num1" name="num1"
               id="num1" placeholder="Ingresa número 1">
      </div>

      <div class="form-group pt-4">
        <label for="num2">Número 2:</label>
        <input type="number" class="form-control" [(ngModel)]="num2" name="num2"
               id="num2" placeholder="Ingresa número 2">
      </div>


      <input type="radio" id="option1" name="choice" value="Suma">
  <label for="option1">Suma</label>

  <input type="radio" id="option2" name="choice" value="Resta">
  <label for="option2">Resta</label>

  <input type="radio" id="option3" name="choice" value="Multiplicacion">
  <label for="option2">Multiplicacion</label>

  <input type="radio" id="option4" name="choice" value="Division">
  <label for="option2">Division</label>
    </div>


    <button (click)="calcular()" type="button" class="btn btn-primary mt-3">Calcular</button>



    <div class="col-6 mt-3">
      <h1>Tu resultado es: {{resultado}}</h1>
    </div>
  </div>
</form>


